version: v2
onboarding:
  token: "${JOIN_TOKEN}"
  join_method: token
storage:
  type: directory
  path: /var/lib/teleport/bot
outputs:
  - type: identity
    destination:
      type: directory
      path: /opt/machine-id
    ssh_config: "on"
    allow_reissue: true
proxy_server: "${VITE_API_URL}:3080"
debug: true